<!DOCTYPE html>

<html lang="en">

  <head>
  <title>Crescendo Music</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
 .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing:4px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  
  #navBooking{
  display: none;
  }
  
.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #48C5CD;
}
.font-cond-b {
    font-weight: 700 !important;
}

body {
  background-color: #5c5c8a;
}

</style>
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <li class="active"><a href=/home>Home</a></li>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="portfolio">Portfolio</a></li>
		<li><a href="reviews">Reviews</a></li>
        <li><a href="feedback">Submit a Feedback</a></li>
        <li id="navBooking" name="navBooking"> <a href="booking">Make a Booking</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
        <h4 class="font-cond-l fg-accent lts-md mgb-10" contenteditable="false">Not Yet Convinced?</h4>
        <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Read Our Student Reviews</h1>
    </div>
    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" Binghu is a professional tutor. He's patient and punctual. My daughter has made a tremendous piano progress and always looks forward to her next lesson. Highly recommended. "</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Aline - 11 years old</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Rototuna, Hamilton</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" I really recommend Crescendo Music. Teacher is easy to approach and get along really well. Binghu does a regular checks to see how you're doing and making progress."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Barbara - 6 years old</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">St. Andrew, Hamilton</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" My daughter has been learning piano with Binghu since she's 3.5 years old. Now, she's so advance among her peers and she received couple of awards under Binghu's supervision. Cheers"</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Amanda - 7 years old</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Huntly, Waikato</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">"The flexibility of one on one tutoring, time, and teacher is able to come to our home are amazing. I'm so satisfied with my boy's progress "</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Tony D. - 5 years old</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Whitiora, Hamilton</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" I did enroled with another music school in town for couple of years and didn't really making progress. Heard from friends that Binghu is the best teacher in Hamilton. Been learning guitar with him for a year and I see the obvious improvement on my guitar skills."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Billy M.- 18 years old</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Huntington, Hamilton</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" Binghu takes the lesson at a good pace and provides me with exercises and tips to improve and gain skills. He makes sure I fully understand concepts before moving on. It has been a pleasurable and rewarding experience. I would highly recommend him."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Sean C. - 20 years old</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Frankton, Hamilton</small>
        </li>
      </ul>
</div>

  </body>

</html>