<!DOCTYPE html>

<html lang="en">

  <head>
  <title>Crescendo Music - Register Your Student Here</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
    .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing:4px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  
  body{
    background:#eee;
}
.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    background-image: -ms-linear-gradient(0deg, #6470ef 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #646e82;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}
  </style>
 </head>

 <body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <li class="active"><a href=/home>Home</a></li>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
		<li><a href="getfeedback">Feedback List</a></li>
		<li><a href="getmessage">Message List</a></li>
		<li><a href="getbooking">Booking List</a></li>
        <li><a href="getusers">User List</a></li>
      </ul>
    </div>
  </div>
</nav>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <h3 class="color--white mb-5">Admin, please register your student as a user to this form</h3>
      
                <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px" height="626px">
                        <defs>
                            <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                                <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                                <stop offset="100%" stop-color="rgb(0,54,207)" stop-opacity="0"></stop>
                            </linearGradient>
    
                        </defs>
                        <path fill-rule="evenodd" opacity="0.302" fill="rgb(72, 155, 248)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                        <path fill="url(#PSgrad_1)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                    </svg>
                </figure>
            </div>
    
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form action="/users" method="POST" class="contact-form form-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
								<label class="required-field" for="first_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter Student's First Name">
                            </div>
                        </div>   
                        
						<div class="col-sm-6 mb-3">
                            <div class="form-group">
								<label class="required-field" for="last_name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Student's Last Name">
                            </div>
                        </div> 
						
						<div class="col-sm-6 mb-3">
                            <div class="form-group">
								<label class="required-field" for="password">Password</label>
                                <input type="text" class="form-control" id="password" name="password" placeholder="Define Password of Your Student's Account">
                            </div>
                        </div>
						
						<div class="col-sm-6 mb-3">
                            <div class="form-group">
								<label class="required-field" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter Student/Caregiver's email">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Student/Caregiver's Phone Number">
                            </div>
                        </div>
    
							<div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="dob">Date of Birth (DOB)</label>
                                <input type="text" class="form-control" id="dob" name="dob" placeholder="Enter Student DOB with dd-mm-yyyy format">
                            </div>
                        </div>
						
						<div class="col-sm-6 mb-3">
						<div class="form-group">
							<label for="lessons_enrolled">Lesson Enrolled:</label>
							<select multiple class="form-control" id="lessons_enrolled" name="lessons_enrolled">
							<option>Piano Lesson</option>
							<option>Guitar Lesson</option>
							<option>Music Theory Lesson</option>
							<option>Audio Production Lesson</option>
							</select>
							</div>
						</div>
	
						<div class="col-sm-6 mb-3">
						<div class="form-group">
							<label for="lesson_type">Lesson Type:</label>
							<select class="form-control" id="lesson_type" name="lesson_type">
							<option>One on One Lesson - Student Location</option>
							<option>One on One Lesson - Teacher Location</option>
							<option>Group - Student Location</option>
							<option>Group - Teacher Location</option>
							<option>Group at School</option>
							</select>
							</div>
						</div>
	
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="notes">Notes:</label>
                                <textarea class="form-control" id="notes" name="notes" rows="4" placeholder="Enter Notes Here"></textarea>
                            </div>
                        </div>
    
                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </div>
    
                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->
    
        </div>
    </div>
</div>

</body>

  